@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Oxanium:wght@400;500;600&display=swap");
/* Helvetica */
@font-face {
  font-family: "Helvetica Compressed";
  src: url(../assets/fonts/helvetica-compressed.otf);
}
@font-face {
  font-family: "Helvetica Rounded";
  src: url(../assets/fonts/helvetica-rounded.otf);
}
/* CSS Variable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #080C12;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 88px;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.6s;
}
.navbar .sticky {
  background-color: #080C12;
  height: 75px;
}
.navbar .navbar-title {
  display: flex;
  align-items: center;
}
.navbar .navbar-title h3 {
  font-family: "Helvetica Compressed";
  font-size: 32px;
  margin-left: 75px;
}

nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  font-style: "Open Sans";
  font-weight: 500;
  font-style: 16px;
  color: #fff;
  position: relative;
}
nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #0CA39D;
  height: 2.5px;
  border-radius: 2px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav ul li a:hover::after {
  width: 100%;
}

.menu {
  margin-right: 65px;
}

.menu-togle {
  position: relative;
}
.menu-togle .icons-bars {
  color: #fff;
  display: none;
  text-decoration: none;
  transition: all 1s;
}
.menu-togle input {
  position: absolute;
  width: 43px;
  left: -7px;
  height: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.menu-togle .icon-close {
  display: none;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
  margin-right: 15vw;
}
.menu-togle input:checked ~ div:nth-child(2) {
  display: none;
}
.menu-togle input:checked ~ div:nth-child(3) {
  display: block;
}

.hero {
  height: 100vh;
  background-image: url(../assets/images/background-top-text.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-wrapper {
  position: relative;
  top: 24vh;
  display: flex;
}
.hero-video {
  width: 40%;
  padding-top: 64px;
}
.hero-video iframe {
  width: 100%;
  height: 100%;
  border: 3px solid #0CA39D;
  box-shadow: 0px 4px 20px 10px #0CA39D;
}
.hero-content {
  padding-left: 24px;
  width: 60%;
}
.hero-content-title h1 {
  font-style: 56px;
  font-family: "Helvetica Rounded";
  color: #fff;
  letter-spacing: 5px;
  -webkit-text-stroke: 3px #FF26C2, 0 0 0px #FF26C2, 0 0 20px #FF26C2, 0 0 20px #FF26C2, 0 0 80px #FF26C2;
}
.hero-content-info {
  padding-left: 48px;
  margin-top: 24px;
}
.hero-content-info .info-build {
  display: flex;
  align-items: center;
  color: #fff;
}
.hero-content-info .info-build h5 {
  font-family: "Oxanium";
  font-size: 24px;
  font-weight: 400;
}
.hero-content-info .info-build h6 {
  font-family: "Open Sans";
  font-size: 16px;
  text-transform: uppercase;
  color: #FF26C2;
}
.hero-content-info .info-build .line-hero {
  height: 28px;
  width: 3px;
  border-radius: 5px;
  margin: 0 16px;
  background-color: #fff;
}
.hero-content-info .info-desc {
  margin-top: 8px;
  font-style: "Open Sans";
  color: #fff;
  font-style: 24px;
  width: 560px;
}
.hero-content-tagline {
  color: #fff;
  font-family: "Oxanium";
  font-style: 32px;
}
.hero-content-btn {
  padding-left: 48px;
  margin-top: 56px;
}
.hero-content-btn a {
  font-family: "Helvetica Compressed";
  font-size: 24px;
  padding: 16px 72px;
  background-color: #0CA39D;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}
.hero-content-btn :hover {
  background-color: #0CA39D;
  opacity: 80%;
  transition: 0.3s;
}

.aboutus {
  background-color: #080C12;
  color: #fff;
}
.aboutus-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8vh;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.aboutus-wrapper .team-foto {
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
  flex-direction: column;
  row-gap: 16px;
}
.aboutus-wrapper .team-foto img {
  width: 100%;
  height: 80%;
  border: 2px solid #FF26C2;
  box-shadow: 0px 4px 20px 10px rgba(255, 38, 194, 0.38);
}
.aboutus-wrapper .team-foto a {
  background-color: #0CA39D;
  color: #fff;
  text-decoration: none;
  font-family: "Open Sans";
  padding: 4px 16px;
  text-align: center;
}
.aboutus-wrapper .team-foto a :hover {
  opacity: 80%;
  transition: 0.3s;
}
.aboutus-wrapper .team-foto i {
  margin-left: 16px;
}
.aboutus-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutus-content-title h1 {
  font-style: "Oxanium";
  font-weight: 600;
  font-size: 64px;
  padding-top: 48px;
}
.aboutus-content-main {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  padding-top: 48px;
}
.aboutus-person {
  display: flex;
  width: 50%;
  font-family: "Open Sans";
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.aboutus-person-img {
  width: 35%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aboutus-person-img img {
  width: 100%;
  filter: drop-shadow(0px 10px 13px #0CA39D);
}/*# sourceMappingURL=style.css.map */